body {
			background-color: #354D7C;
			min-width: 1180px;
		}
		#wrapper {
			width: 1180px;
			margin: 20px auto;
		}

		#emblem {
			height: 120px;

		}

		header {
			display: flex;
			flex-direction: row;
			/*border: 1px solid black;*/
			height: 170px;
		}
		header h1 {
			color: white;
			font-size: 24px;
		}
		#menuheader {
			/*border: 1px solid black;*/

		}
		
		#highheader {
			display: flex;
			flex-direction: row;
			align-items: center;
			/*border: 2px solid red;*/
		}
		#highheader img {
			margin-right: 25px;
		}
		
		#menuheader ul {
			display: flex;
			padding: 0;
		}
		#menuheader li {
			list-style-type: none;
			/*border: 1px solid black;*/
		}
		#menuheader a {
			text-decoration: none;
			color: white; 
			display: flex;
			padding: 10px;
		}
		#menuheader a:hover {
			background-color: #2E6EAE;
		}

		#downheader {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		#downheader li {
			/*padding-left: 2vw;*/
		}
		#downheader p {
			color: white;
		}
		.centerheader {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
		}
		

		#mainmenu ul, #mainmenuIndex ul {
			width: 285px;
			/*border: 1px solid yellow;*/
			padding: 0;
		}
		#mainmenu li  {
			list-style-type: none;
			margin-bottom: 8px;
		}

		#mainmenuIndex li {
			list-style-type: none;
			margin-top: 20px;
		}

		#mainmenu a, #mainmenuIndex a {
			color: white;
			text-decoration: none;
		}
		#mainmenu a:hover, #mainmenuIndex a:hover{
			color: #96DBE3;
		}
		main {
			display: flex;
			height: 70vh;
		}

		

		#right_side_main {
			width: 100%;
			background-image: url(images/image_main.jpg);
			background-position: center;
			background-size: cover;
			margin-left: 10px;
			margin-top: 5px;
		}

		#hope {
			height: 120px;
		}
		#under_main {
			width: 165px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: white;
			
		}
		

		footer {
			background-color: #333333;
			display: flex;
			justify-content: space-around;
		}

		footer ul {
			list-style-type: none;
			display: flex;
		}
		footer li {
			color: #969696;
			padding-left: 70px;
			padding-right: 70px;
		}
		footer a {
			color: white;
			text-decoration: none;
		}
		footer img {
			height: 30px;
			filter: invert(45%);		
		}

		footer img:hover {
			/*height: 3vh;*/ 
			filter: invert(0%);		
		}